@import url(https://fonts.googleapis.com/css?family=Poppins);

/*************************************************
            DEFAULTS
*************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit;
}
html{
    font-size: 16px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}
p{
    margin: 1rem 0;
}
a{
    
}
ul{
    
}
ol{
    
}
li{
    
}
img{

}

/*************************************************
            HEADER
*************************************************/
header{
    padding:1rem 2rem;
    color: hsl(0, 0%, 0%);
    height: 125px;
    background: hsl(0, 0%, 100%) url("../img/header/header_1000px.jpg") repeat-x top right;
}
header > h1, header > h2 {
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 1px 0px hsl(211, 60%, 55%);
}
/*************************************************
            NAVMENU
*************************************************/
nav.mainnav{
    padding:1rem 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: hsl(0, 0%, 80%);
}
nav > a,
nav > a:visited,
nav > a:link{
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    margin: 0 0.5rem;
}
nav > a:active,
nav > a:focus,
nav > a:hover{
    color: hsl(211, 60%, 55%);
}

/*************************************************
            MAIN CONTENT
*************************************************/
main{
    padding:1rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 0;
}

main section{
    margin: 1rem 0rem 1.5rem 0rem;
}
section p{
    
}
section p img{
    float: left;
    width: 150px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
main section h1, main section h2 {
    color: hsl(211, 60%, 55%);
    margin: 0.5rem 0;
}

/*************************************************
            FOOTER
*************************************************/
footer{
    padding:1rem 2rem;
    display: flex;
    flex-flow: column-reverse wrap;
    background-color: hsl(0, 0%, 80%);
    border-top: 10px solid hsl(211, 60%, 55%);
}
nav.subnav{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: hsl(0, 0%, 80%);
}
.foot section{
    flex-grow: 1;
}
.foot dl{
    
}
.foot dt{
    font-size: 1.5rem;
    color: hsl(211, 60%, 55%);
}
.foot dd{
    
}
.foot dd a,
.foot dd a:visited{
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}
.foot dd a:active,
.foot dd a:focus,
.foot dd a:hover{
    color: hsl(211, 60%, 55%);
}
.form-box {
    padding: 0.3rem 0;
    display: flex;
    flex-direction: column;
}
.foot section .form-box:first-of-type {
    flex-direction: row;
}
.form-box input,
.form-box select,
.form-box textarea,
.form-box button {
    flex-basis: 100%;
}
.form-box textarea {
    height: 70px;
}
.form-box button {
    max-width: 110px;
    padding: 0.2rem;
}
/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px){
    /* Mobile first */
}
@media (min-width: 600px) and (max-width:999px){
    main {
        grid-template-columns: repeat(2, 1fr);
    }
    main section:first-of-type {
        grid-column: 1 / span 2;
    }
    main section h1 {
        font-size: 2rem;
    }
}
@media (min-width: 1000px){
    main {
        grid-template-columns: repeat(3, 1fr);
    }
    footer {
        flex-direction: row;
    }
}

/*************************************************
            MEDIA QUERIES for content
*************************************************/
@media (max-width: 599px){
    nav.mainnav {
        flex-direction: column;
        font-size: 1.3rem;
        line-height: 2rem;
    }
    nav > a,
    nav > a:visited,
    nav > a:link{
        width: 100%;
        border-bottom: 1px solid hsl(0, 0%, 60%);
    }
}
@media (min-width: 600px) and (max-width:999px){
    section p img {
        width: 100%;
        max-width: 400px;
    }
    main section:first-of-type p img {
        width: 200px;
    }
}
@media (min-width: 1600px){
        html {
        font-size: 18px;
    }
}