@import url(https://fonts.googleapis.com/css?family=Poppins);

/*************************************************
            DEFAULTS
*************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before{
    box-sizing: inherit;
}
html{
    font-size: 16px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}
p{
    
}
a{
    
}
ul{
    
}
ol{
    
}
li{
    
}
img{

}

/*************************************************
            HEADER
*************************************************/
header{
    padding:1rem 2rem;
    color: hsl(0, 0%, 0%);
    height: 125px;
    background: hsl(0, 0%, 100%) url("../img/header/header_1000px.jpg") repeat-x;
}
header > h1{
    
}
header > h2{
    
}
header > h1, header > h2 {
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 1px 0px hsl(211, 60%, 55%);
}
/*************************************************
            NAVMENU
*************************************************/
nav{
    padding:1rem 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: hsl(0, 0%, 80%);
    line-height: 2rem;
}
nav > a,
nav > a:visited,
nav > a:link{
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    margin: 0 0.5rem;
}
nav > a:active,
nav > a:focus,
nav > a:hover{
    color: hsl(211, 60%, 55%);
}

/*************************************************
            MAIN CONTENT
*************************************************/
main{
    padding:1rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 0;
}

section{
    margin: 1em 0em 1.5em 0em;
}
section p{
    
}
section p img{
    float: left;
    width: 150px;
    margin-right: 1em;
    margin-bottom: 1em;
}
main section h1, main section h2 {
    color: hsl(211, 60%, 55%);
    margin: 0.5rem 0;
}
main section h1 {
    font-size: 2em;
}

/*************************************************
            FOOTER
*************************************************/
footer{
    padding:1rem 2rem;
}
.foot nav{
    
}
.foot section{
    
}
.foot dl{
    
}
.foot dt{
    
}
.foot dd{
    
}
.foot dd a,
.foot dd a:visited{
    
}
.foot dd a:active,
.foot dd a:focus,
.foot dd a:hover{
    
}
/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px){
    nav {
        flex-direction: column;
    }

}
@media (min-width: 600px) and (max-width:999px){
    main {
        grid-template-columns: repeat(2, 1fr);
    }
    main section:first-of-type {
        grid-column: 1 / span 2;
    }
}
@media (min-width: 1000px){
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*************************************************
            MEDIA QUERIES for content
*************************************************/
@media (max-width: 599px){
    nav {
        font-size: 1.3rem;
    }
    nav > a,
    nav > a:visited,
    nav > a:link{
        display: block;
        width: 100%;
        border-bottom: 1px solid hsl(0, 0%, 60%);
    }
    nav > a:active,
    nav > a:focus,
    nav > a:hover{
        border-color: hsl(211, 60%, 55%);
    }
}
@media (min-width: 600px) and (max-width:999px){
    section p img {
        width: 100%;
        max-width: 400px;
    }
    main section:first-of-type p img {
        width: 200px;
    }
}
@media (min-width: 1000px){
    
}